*,
*:before,
*:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;  // for footer at bottom
    background: #ca040c;
}
.siteContent {
    flex: 1 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
embed,
iframe,
object,
video {
    max-width: 100%;
    vertical-align: middle;
}
